/* forecast additional styling */
#forecast {
    list-style: none;
}

/* uvi styling */
.red-uvi {
    display: block;
    width: 70px;
    height: 30px;
    border: 1px solid red;
    background-color: red;
}

.green-uvi {
    display: block;
    width: 70px;
    height: 30px;
    border: 1px solid green;
    background-color: green;
}

